$img-path-module-2: "../img/module-2/win-suitcase/";

$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical", "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;

$container-size: 80vmin;
$flamingo-size: calc(#{$container-size} * 0.3);
$leaf-blue-1-size: calc(#{$container-size} * 0.35);
$leaf-blue-2-size: calc(#{$container-size} * 0.35);
$leaf-green-size: calc(#{$container-size} * 0.35);
$suitcase-size: calc(#{$container-size} * 0.45);

$fast-tr-duration: 0.1s;
$fast-tr-delay: 0.1s;
$medium-tr-duration: 0.3s;
$medium-tr-delay: 0.3s;
$slow-tr-duration: 0.5s;
$slow-tr-delay: 0.5s;

$loaded-content-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
$stretch-cb-function: cubic-bezier(0.65, 1.3, 0.46, 1.47);
